.page-container {
    height: 100%;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/characterFloor.jpg');
    background-size: cover; /* Ensures the image fits within the container */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center;
    overflow: visible;
    gap: 5%;
}

.character {
    // position: absolute;
    // bottom: 30vh;
    // width: 90%;
    position: relative;
}

.caroussel {
    position: absolute;
    bottom: 20px;
}

::ng-deep .info-dialog-container {
    border-radius: 30px;
    overflow: hidden;
}

::ng-deep .locked-dialog-container {
    border-radius: 30px;
    overflow: hidden;
}
