@if (currentGame) {
<div class="game-desc">
    <div class="selected-game-title">{{ currentGame.title }}</div>
    <div class="mode-img-container">
        @if(currentGame && currentGame.map.mode === modeEnum.CTF) {
            <img src="assets\CTFGame_icn.png" alt="" class="selected-game-mode" draggable="false" />
        } @else {
            <img src="assets\classicGame_icn.png" alt="" class="selected-game-mode" draggable="false" />
        }
        <div class="image-container">
            <img [src]="currentGame.prevImg" alt="map-img" class="selected-game-img" />
            <div class="overlay">
                <div class="game-description">{{ currentGame.description }}</div>
            </div>
        </div>
    </div>
    <div class="selected-game-desc">
        <div class="size">{{ currentGame.size }} x {{ currentGame.size }}</div>
        <div class="last-mod">Last Mod : {{ currentGame.lastMod }}</div>
    </div>
    <button class="start-game-btn" (click)="loadGame()">
        <span>Jouer</span>
    </button>
</div>
}
